/* Defaults */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #252525;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h1,
h2,
h3,
nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

/* Responsive images */

img {
  max-width: 100%;
  height: auto;
}

/* Default section styling */

section {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
section h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

/* Header defaults */

header {
  display: flex;
  position: fixed;
  margin: 0 4em;
  padding: 10px;
  width: calc(100% - 8em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
}

header .logo {
  flex-grow: 1;
  padding-top: 0.25em;
}
header .logo img {
  width: 9em;
}
header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.nav-item a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

/* Basic Flex Constructs */

.flex {
  display: flex;
}

@media screen and (max-width: 600px) {
  .flex {
    flex-flow: column wrap;
    align-items: center;
    padding: 0 15px;
  }
}

/* Individual Sections */

#carousel {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#carousel #carousel-text {
  position: absolute;
  top: 35vh;
  color: #fff;
  text-shadow: 2px 2px #252525;
  z-index: 1;
}

#carousel .carousel-image {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
}

#about {
  background-color: #f1f1f1;
  padding: 20px 20px 0 20px;
}
#about p {
  flex: 3;
}
#about #aboutmockup {
  flex: 2;
  align-self: flex-end;
}

#about img {
  display: block;
  width: 100%;
  height: auto;
}

#staff {
  height: 100%;
  color: #252525;
}
#staff .wrap {
  display: flex;
  flex-wrap: wrap;
}
#staff .staff-profile {
  flex: 0 0 100%;
}
@media (min-width: 600px) {
  #staff .staff-profile {
    flex: 0 0 50%;
  }
}
@media (min-width: 960px) {
  #staff .staff-profile {
    flex: 0 0 33%;
  }
}

#staff .staff-profile:hover {
  color: #fff;
  background-color: #f39c12;
}
#staff .staff-profile .headshot {
  height: 5em;
  width: 5em;
  margin-left: calc(50% - 2.5em);
  padding-top: 10px;
}
#staff .staff-profile .staff-name {
  text-align: center;
  font-size: 2em;
}
#staff .staff-profile .staff-bio {
  width: calc(100% - 5em);
  margin-left: 2.5em;
  text-align: center;
  font-style: italic;
}

.footer {
  width: 100%;
  height: 6em;
  background-color: #252525;
  color: #fff;
}
